<footer class="footer">
  <div class="footer-content">
    <!-- Logo -->
    <div class="footer-section">
      <img src="/assets/images/logo.jpg" alt="Krakovia Producciones" class="logo">
    </div>

    <div class="footer-section">
          <a href="https://www.krakovia.pl">www.krakovia.pl</a>
    </div>

    <!-- Emails -->
    <div class="footer-section">
      <img src="/assets/images/mail.png" alt="Email" class="icon">
      <div class="contact-info">
        <p> frabass&#64;hotmail.com</p>
      </div>
    </div>

    <!-- Location -->
    <div class="footer-section">
      <img src="/assets/images/location.png" alt="Location" class="icon">
      <p>Santiago de Chile /Krakow</p>
    </div>

    <!-- Phone -->
    <div class="footer-section">
      <img src="/assets/images/telephone.png" alt="Phone" class="icon">
      <p>+48792122472
        <br>
        +56988294461</p>
    </div>
  </div>
</footer>
