.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  gap: 20px;
}

.footer-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 80px;
  width: auto;
}

.icon {
  height: 24px;
}