<div class="head">
  <header>
    <div class="logo">
      <img src="/assets/images/title_movie.png" alt="Krakovia Producciones">
    </div>
    <nav>
      <ul>
          <li><a href="#trailer">TRAILER</a></li>
          <li><a href="#synopsis">SYNOPSIS</a></li>
          <li><a href="#filmwork">FILM WORK</a></li>
      </ul>
    </nav>

    <div class="burger-menu" (click)="toggleMenu()">&#9776;</div>
    <div class="mobile-nav" id="mobileNav">
        <a href="#trailer" (click)="closeMenu()">TRAILER</a>
        <a href="#synopsis" (click)="closeMenu()">SYNOPSIS</a>
        <a href="#filmwork" (click)="closeMenu()">FILM WORK</a>
    </div>
    </header>
</div>