<div class="hero">

  <div id="trailer" class="block block1">
    <iframe
    src="https://www.youtube-nocookie.com/embed/6b9rVMAIkn0"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  </div>

  <div id="synopsis" class="block block2">
    <div class="overlay">
      <div class="info-box">
        <h2>
          <span style="color: #c8a22b;">Synopsis</span>
        </h2>
        <p>
          Anastasia is an Ukrainian girl immigrant in Poland during the war in her country.
          <br>
          She work sometimes like a photo model to have money for pay her flat and send money to her family in Ukraine.
          <br>
          In her way to a photo session she started to receive urgents telephone calls from her mother.She don't want to answer because she feels that something bad is going on.
        </p>
      </div>
    </div>
  </div>

  <div class="block block4">
    <div class="overlay2">
      <div class="info-box">
        <h2>
          <span style="color: #c8a22b;">DATA SHEET</span>
        </h2>
        <p><strong>Title:</strong>The Tender Ones Will Triumph </p>
        <p><strong>Length:</strong> 15minutes</p>
        <p><strong>Genre:</strong> Drama/Fiction</p>
        <p><strong>Format:</strong> Digital</p>
        <p><strong>Directed by:</strong> Francisco Bassignana </p>
        <p><strong>Produced by:</strong> Krakovia Producciones </p>
        <p><strong>Country:</strong> Poland/Chile</p>
      </div>
      <div class="info-box">
        <h2>
          <span style="color: #c8a22b;">Cast</span>
        </h2>
        <p>
          ANASTASIA Keira Lintu
          <br>
          FRANCESCO  Francisco Bassignana
          <br>
          ANASTASIA'S BROTHER Pawel Petrenko
          <br>
          ANASTASIA'S MOTHER Tatiana Grybenko
          <br>
          Voice Anastasia's Mother  Natalia Sumska
          <br>
          Voice Radio Speaker Andriy Permyakov
          <br>
          Voice roomate  Anna Liberman
          <br>
        </p>
        <br>
        <br>

        <h2>
          <span style="color: #c8a22b;">Crew</span>
        </h2>
        <p>
          Director and screenwriter: Francisco Bassignana
          <br>
          Producer Company: Krakovia Producciones
          <br>
          Original idea: Francisco Bassignana
          <br>
          Script: Walther Vera
          <br>
          Cinematography: Víctor Manuel Calixto Gómez
          <br>
          Music and Sound design: Marietta Useche Redondo
          <br>
          Editor: John Enrique Robertson Peña – Eduardo García
          <br>
          Director Assistant: Kracovia Producciones - Francisco Basignana
          <br>
        </p>
      </div>
    </div>
  </div>

  <div id="filmwork" class="block block3">
    <div class="overlay3">
      <div class="info-box3">
        <h2><span class="highlight">Film Work</span></h2>
        <p>
          Francisco Bassignana is the Director of Krakovia Producciones.He was born in Santiago de Chile into an italian family.He  studied law.At the same time, he began an artistic career .After his law studied he decides to travel to Europe.He developed most of his artistic skills and qualifications including theater studies in Spain and pantomime studies in France.
          <br>
          He currently works as a film Producer and this short film is his first film like director.
          <br>
          Like a film Producer he has won many awards in cinema festivals all around the world.
        </p>
      </div>
      <div class="info-box3">
        <h2><span class="highlight">Krakovia Producciones</span></h2>
        <p><strong>Producer Company</strong></p>
        <p>
          Krakovia Producciones, is a production company founded by Francisco Bassignana that deals with audiovisual works.
          <br>
          The main mission of Krakovia Producciones is to become a cultural bridge between Europe and South America.
          <br>
        </p>
      </div>
    </div>
  </div>
</div>
